input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ck-editor__editable_inline {
  min-height: 350px;
  max-height: 600px;
  overflow: scroll;
}
