:root {
  /* Colors: */
  --unnamed-color-ec595c: #ec595c;
  --unnamed-color-ff7e50: #ff7e50;
  --unnamed-color-181560: #181560;
  --unnamed-color-ff6b36: #ff6b36;

  /* Font/text values */
  --unnamed-font-family-poppins: Poppins;
  --unnamed-font-family-pingfang-tc: PingFang TC;
  --unnamed-font-family-setofont: SetoFont;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-300: 300px;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-30: 30px;
  --unnamed-font-size-40: 40px;
  --unnamed-font-size-70: 70px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-45: 45px;
  --unnamed-line-spacing-75: 75px;
  --unnamed-line-spacing-84: 84px;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-45);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-181560);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-pingfang-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-70);
  line-height: var(--unnamed-line-spacing-75);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ff6b36);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-300);
  font-size: var(--unnamed-font-size-30);
  line-height: var(--unnamed-line-spacing-45);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-181560);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-setofont);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-70);
  line-height: var(--unnamed-line-spacing-84);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ff7e50);
}
